.robin-view-profile {
  width: 385px;
  height: 100%;
  background-color: inherit;
  border: 1px solid var(--rb-color6);
  overflow-y: auto;
  position: relative;
  z-index: -1;
}

.robin-view-profile .robin-header {
  width: 100%;
  min-height: 79px;
  display: flex;
  align-items: center;
  padding: 0 clamp(2%, 4vw, 1.25rem);
  border-bottom: 1px solid var(--rb-color6);
}

.robin-view-profile .robin-wrapper {
  display: flex;
  flex-direction: column;
}

.robin-view-profile .robin-wrapper .robin-flex {
  display: flex !important;
}

.robin-view-profile .robin-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.625rem clamp(3%, 5vw, 0.875rem) 1rem clamp(3%, 5vw, 1rem);
}

.robin-view-profile .robin-profile h3,
.robin-view-profile .robin-profile p {
  white-space: pre-wrap !important;
  text-align: center;
}

.robin-view-profile .robin-files {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0.5rem;
}

.robin-view-profile .robin-upload {
  border: 1px solid var(--rb-color5);
  border-radius: 12px;
  padding: 0.5rem;
  margin-bottom: 1.813rem;
}

.robin-view-profile .robin-upload .details {
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.1rem 0px;
  margin-left: 1.063rem;
}

.robin-view-profile .robin-media {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(72px, 72px));
  gap: 0.625rem 0.875rem;
}

.robin-view-profile .robin-media + .robin-button {
  text-align: center;
  letter-spacing: 0.02em;
  margin: 1.188rem auto 0px;
  display: block;
}

.robin-view-profile .robin-nav-container {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: var(--rb-color5);
  border-radius: 8.91px;
  margin: 0 auto 0.438rem;
}

.robin-view-profile .robin-nav-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: var(--rb-color3);
  letter-spacing: -0.08px;
  font-size: 0.813rem;
  border-right: 1px solid rgba(84, 84, 88, 0.65);
}

.robin-view-profile .robin-nav-container div:last-child {
  border-right: none;
}

.robin-view-profile .robin-nav-container div:not(.active):hover {
  background: var(--primary-color);
  height: 28px;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  border-radius: 6.93px;
  color: #fff;
  cursor: pointer;
}

.robin-view-profile .robin-nav-container div.active {
  background: var(--primary-color);
  height: 28px;
  border: none;
  border-radius: 6.93px;
  color: #fff;
}

.robin-view-profile .robin-actions {
  width: 100%;
}

.robin-view-profile .robin-actions .robin-button {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--rb-color12);
  padding-left: 1rem;
}

.robin-view-profile .robin-actions .robin-button:not(:last-child) {
  border-bottom: 1px solid var(--rb-color13);
}

.robin-view-profile .robin-tab.robin-button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--rb-color12);
  padding-left: 1rem;
  width: 100%;
}

.robin-view-profile .robin-see-all {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--rb-colo5);
}

.robin-view-profile .robin-card-container {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
}

.robin-view-profile .robin-card-container .robin-card {
  padding: 0.875rem 1rem 1rem;
  transition: all 0.15s;
  background-color: var(--rb-bg-color);
}

.robin-view-profile .robin-card-container .robin-card:not(:first-child) {
  margin: 0.25rem 0;
}

.robin-view-profile .robin-media-grids {
  width: 90%;
  margin: 0 auto 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 0.5rem;
}

.robin-view-profile .robin-media-grid img {
  width: 100%;
  aspect-ratio: 1 / 1.25;
  object-fit: cover;
  cursor: pointer;
}

.robin-view-profile .robin-media-grid video {
  width: 100%;
  height: 63px;
}

.robin-view-profile .robin-link-container {
  width: 90%;
  margin: 0 auto 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
}

.robin-view-profile .robin-link-preview {
  padding: 0.5rem;
  color: #4568d1;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.robin-view-profile .robin-link-preview i {
  color: #4b545a;
}

.robin-view-profile .robin-link-preview div {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 86px;
  max-width: 86px;
}

.robin-view-profile .robin-document-grids {
  width: 90%;
  margin: 0 auto 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 0.5rem;
}

.robin-view-profile .robin-uploaded-documents {
  display: flex;
  align-items: center;
  background-color: var(--rb-color13);
  border: 1px solid var(--rb-color5); /* #ecebeb; */
  border-radius: 4px;
  padding: 0.5rem 0.938rem 0.5rem 0.5rem;
}

.robin-uploaded-documents .detail {
  margin-right: 2.2rem;
}

.robin-view-profile .robin-moderator-text {
  background-color: var(--rb-color15);
  color: var(--rb-color7);
  padding: 0.2rem 0.2rem;
  margin-left: auto;
  font-size: 0.625rem;
}

.robin-view-profile .robin-spinner {
  margin: 1rem auto 0;
}

@media (max-width: 768px) {
  .robin-view-profile .robin-header {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}

@media (max-width: 1200px) {
  .robin-view-profile .robin-view-profile {
    width: 100%;
  }
}
