@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

:root {
  --primary-focus-color: rgba(21, 174, 115, 0.1);
  --secondary-focus-color: rgba(83, 95, 137, 0.1);
  --checkbox-color: rgba(21, 174, 115, 1);
  --primary-color: rgba(21, 174, 115, 1);
}

@font-face {
  font-family: 'Hanken Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/HankenSans-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Hanken Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/HankenSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Hanken Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/HankenSans-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Hanken Sans';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/HankenSans-Bold.otf') format('opentype');
}

.material-icon {
  font-family: 'Material Icons';
}

.robin-pt-10 {
  padding-top: 0.625rem;
}

.robin-pt-8 {
  padding-top: 0.5rem;
}

.robin-pb-8 {
  padding-bottom: 0.5rem;
}

.robin-pb-11 {
  padding-bottom: 0.688rem;
}

.robin-mb-11 {
  margin-bottom: 0.688rem;
}

.robin-flex-space-between {
  justify-content: space-between;
}

.robin-mt-75 {
  margin-top: 4.688rem;
}

.robin-mb-13 {
  margin-bottom: 0.813rem;
}

.robin-mb-15 {
  margin-bottom: 0.938rem;
}

.robin-mb-17 {
  margin-bottom: 1.063rem;
}

.robin-mb-3 {
  margin-bottom: 0.188rem;
}

.robin-m-auto {
  margin: 0 auto;
}

.robin-pb-10 {
  padding-bottom: 0.625rem;
}

.robin-pt-15 {
  padding-top: 0.938rem;
}

.robin-pb-52 {
  padding-bottom: 3.25rem;
}

.robin-flex {
  display: flex;
}

.robin-button:focus {
  outline: 0;
}

.robin-flex-column {
  flex-direction: column;
}

.robin-mb-4 {
  margin-bottom: 0.25rem;
}

.robin-ml-auto {
  margin-left: auto;
}

.robin-ml-10 {
  margin-left: 0.625rem;
}

.robin-ml-12 {
  margin-left: 0.75rem;
}

.robin-mr-12 {
  margin-right: 0.75rem;
}

.robin-mt-10 {
  margin-top: 0.625rem;
}

.robin-ml-16 {
  margin-left: 1rem;
}

.robin-ml-24 {
  margin-left: 1.5rem;
}

.robin-ml-auto {
  margin-left: auto;
}

.robin-mt-20 {
  margin-top: 1.25rem;
}

.robin-mt-21 {
  margin-top: 1.313rem;
}

.robin-mt-31 {
  margin-top: 1.938rem;
}

.robin-mb-5 {
  margin-bottom: 0.313rem;
}

.robin-ml-5 {
  margin-left: 0.313rem;
}

.robin-ml-6 {
  margin-left: 0.375rem;
}

.robin-mr-5 {
  margin-right: 0.313rem;
}

.robin-h-100 {
  height: 100%;
}

.robin-flex-align-center {
  align-items: center;
}

.robin-flex-1 {
  flex: 1;
}

.robin-flex-justify-end {
  justify-content: flex-end;
}

.robin-flex-justify-center {
  justify-content: center;
}

.robin-w-100 {
  width: 100%;
}

.robin-ml-8 {
  margin-left: 0.5rem;
}

.robin-mr-27 {
  margin-right: 1.688rem;
}

.robin-mt-42 {
  margin-top: 2.625rem;
}

.robin-grey-200 {
  background-color: #fafafa;
}

.robin-clickable {
  cursor: pointer;
}

.robin-non-clickable {
  cursor: default !important;
}

.robin-mt-38 {
  margin-top: 2.375rem;
}

.robin-mb-13 {
  margin-bottom: 0.813rem;
}

.robin-mt-33 {
  margin-top: 2.063rem;
}

.robin-pt-100 {
  padding-top: 6.25rem;
}

.robin-mt-4 {
  margin-top: 0.25rem;
}

.robin-mb-8 {
  margin-bottom: 0.5rem;
}

.robin-mt-8 {
  margin-top: 0.5rem;
}

.robin-pr-16 {
  padding-right: 1rem;
}

.robin-pl-16 {
  padding-left: 1rem;
}

.robin-pl-25 {
  padding-left: 1.563rem;
}

.robin-pl-21 {
  padding-left: 1.313rem;
}

.robin-ml-21 {
  margin-left: 1.313rem;
}

.robin-ml-3 {
  margin-left: 0.188rem;
}

.robin-mr-3 {
  margin-right: 0.188rem;
}

.robin-mb-16 {
  margin-bottom: 1rem;
}

.robin-mr-8 {
  margin-right: 0.5rem;
}

.robin-mb-32 {
  margin-bottom: 2rem;
}

.robin-mb-7 {
  margin-bottom: 0.438rem;
}

.robin-mb-33 {
  margin-bottom: 2.063rem;
}

.robin-pb-23 {
  padding-bottom: 1.438rem;
}

.robin-mb-53 {
  margin-bottom: 3.313rem;
}

.robin-flex-wrap {
  flex-wrap: wrap;
}

.robin-flex-align-end {
  align-items: flex-end;
}

.robin-mt-26 {
  margin-top: 1.625rem;
}

.robin-mb-10 {
  margin-bottom: 0.625rem;
}

.robin-mr-16 {
  margin-right: 1rem;
}

.robin-flex-row-reversed {
  flex-direction: row-reverse;
}

.robin-pt-13 {
  padding-top: 0.813rem;
}

.robin-pt-16 {
  padding-top: 1rem;
}

.robin-pb-12 {
  padding-bottom: 0.75rem;
}

.robin-pb-13 {
  padding-bottom: 0.813rem;
}

.robin-mr-9 {
  margin-right: 0.563rem;
}

.robin-mt-18 {
  margin-top: 1.125rem;
}

.robin-pl-10 {
  padding-left: 0.625rem;
}

.robin-mt-14 {
  margin-top: 0.875rem;
}

.robin-pl-3 {
  padding-left: 0.188rem;
}

.robin-pr-3 {
  padding-right: 0.188rem;
}

.robin-pr-2 {
  padding-right: 0.125rem;
}

.robin-hidden {
  display: none;
}

.robin-invisible {
  visibility: hidden;
}

.robin-relative {
  position: relative;
}

.robin-pt-24 {
  padding-top: 1.5rem;
}

.robin-pt-4 {
  padding-top: 0.25rem;
}

.robin-pb-4 {
  padding-bottom: 0.25rem;
}

.robin-pb-24 {
  padding-bottom: 1.5rem;
}

.robin-pl-24 {
  padding-left: 1.5rem;
}

.robin-pr-24 {
  padding-right: 1.5rem;
}

.robin-absolute {
  position: absolute;
}

.robin-material-icon {
  font-family: 'Material Icons';
}

.robin-overflow-y-auto {
  overflow-y: auto;
}

.robin-overflow-x-auto {
  overflow-x: auto;
}

.robin-mr-10 {
  margin-right: 0.625rem;
}

.robin-pb-16 {
  padding-bottom: 1rem;
}

.robin-mt-16 {
  margin-top: 1rem;
}

.robin-flex-end {
  align-items: flex-end;
}

.robin-flex-row-reversed {
  flex-direction: row-reverse;
}

.v-toast {
  z-index: 10000;
}

.carousel-3d-container {
  height: 400px !important;
  margin: 2rem 0 1.5rem;
}

.carousel-3d-slider {
  height: 100% !important;
}

.carousel-3d-slide {
  height: 100% !important;
  background-color: transparent !important;
  border-width: 0 !important;
}

.carousel-3d-slide img {
  height: 100%;
  width: initial !important;
  cursor: pointer;
}

.robin-ml-4 {
  margin-left: 0.25rem;
}

.robin-pl-41 {
  padding-left: 2.563rem;
}

.robin-pr-42 {
  padding-right: 2.625rem;
}

.robin-pb-17 {
  padding-bottom: 1.063rem;
}

.robin-pt-17 {
  padding-top: 1.063rem;
}

.robin-w-max {
  width: max-content;
}

.robin-flex-align-start {
  align-items: flex-start;
}

/* animations */

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3) translateZ(0);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9) translateZ(0);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03) translateZ(0);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97) translateZ(0);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1) translateZ(0);
  }
}

@keyframes come-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateZ(0);
    -webkit-transform: translateY(0) translateZ(0);
    -moz-transform: translateY(0) translateZ(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes come-down {
  0% {
    opacity: 0;
    transform: translateY(-20px) translateZ(0);
    -webkit-transform: translateY(-20px) translateZ(0);
    -moz-transform: translateY(-20px) translateZ(0);
    -ms-transform: translateY(-20px) translateZ(0);
    -o-transform: translateY(-20px) translateZ(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateZ(0);
    -webkit-transform: translateY(0) translateZ(0);
    -moz-transform: translateY(0) translateZ(0);
    -ms-transform: translateY(0) translateZ(0);
    -o-transform: translateY(0) translateZ(0);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  100% {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg) translateZ(0);
  }
}

@keyframes slide-in-right {
  from {
    transform: translate3d(100%, 0, 0) translateZ(0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@keyframes slide-out-right {
  from {
    transform: translate3d(0, 0, 0) translateZ(0);
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
    -moz-transform: translate3d(0, 0, 0) translateZ(0);
    -ms-transform: translate3d(0, 0, 0) translateZ(0);
    -o-transform: translate3d(0, 0, 0) translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0) translateZ(0);
    -webkit-transform: translate3d(100%, 0, 0) translateZ(0);
    -moz-transform: translate3d(100%, 0, 0) translateZ(0);
    -ms-transform: translate3d(100%, 0, 0) translateZ(0);
    -o-transform: translate3d(100%, 0, 0) translateZ(0);
  }
}

@keyframes slide-in-left {
  from {
    transform: translate3d(-100%, 0, 0) translateZ(0);
    -webkit-transform: translate3d(-100%, 0, 0) translateZ(0);
    -moz-transform: translate3d(-100%, 0, 0) translateZ(0);
    -ms-transform: translate3d(-100%, 0, 0) translateZ(0);
    -o-transform: translate3d(-100%, 0, 0) translateZ(0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0) translateZ(0);
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
    -moz-transform: translate3d(0, 0, 0) translateZ(0);
    -ms-transform: translate3d(0, 0, 0) translateZ(0);
    -o-transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0) translateZ(0);
    visibility: visible;
  }
}

@keyframes zoom-in {
  from {
    -webkit-transform: scale(0) translateZ(0);
    -moz-transform: scale(0) translateZ(0);
    -ms-transform: scale(0) translateZ(0);
    -o-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0);
  }

  to {
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
  }
}

@keyframes zoom-out {
  from {
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
  }

  to {
    -webkit-transform: scale(0) translateZ(0);
    -moz-transform: scale(0) translateZ(0);
    -ms-transform: scale(0) translateZ(0);
    -o-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0);
  }
}

@keyframes squeeze-in {
  from {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }
}

@keyframes squeeze-out {
  from {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }

  to {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

@keyframes pulse1 {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
}

@keyframes pulse2 {
  from {
    transform: scale3d(1, 1, 1) translateZ(0);
    -webkit-transform: scale3d(1, 1, 1) translateZ(0);
    -moz-transform: scale3d(1, 1, 1) translateZ(0);
    -ms-transform: scale3d(1, 1, 1) translateZ(0);
    -o-transform: scale3d(1, 1, 1) translateZ(0);
  }
  50% {
    transform: scale3d(1.02, 1.02, 1.02) translateZ(0);
    -webkit-transform: scale3d(1.02, 1.02, 1.02) translateZ(0);
    -moz-transform: scale3d(1.02, 1.02, 1.02) translateZ(0);
    -ms-transform: scale3d(1.02, 1.02, 1.02) translateZ(0);
    -o-transform: scale3d(1.02, 1.02, 1.02) translateZ(0);
  }
  to {
    transform: scale3d(1, 1, 1) translateZ(0);
    -webkit-transform: scale3d(1, 1, 1) translateZ(0);
    -moz-transform: scale3d(1, 1, 1) translateZ(0);
    -ms-transform: scale3d(1, 1, 1) translateZ(0);
    -o-transform: scale3d(1, 1, 1) translateZ(0);
  }
}

.robin-bounceIn {
  animation: bounceIn 0.9s;
  -webkit-animation: bounceIn 0.9s;
}

.robin-come-up {
  animation: come-up 0.3s ease-in-out;
  -webkit-animation: come-up 0.3s ease-in-out;
}

.robin-come-down {
  animation: come-down 0.3s ease-in-out;
  -webkit-animation: come-down 0.3s ease-in-;
}

.robin-spinner {
  animation: spinner 600ms linear infinite;
  -webkit-animation: spinner 600ms linear infinite;
  height: 40px;
  width: 40px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: var(--primary-color);
}

.robin-spinner2 {
  animation: spinner 600ms linear infinite;
  -webkit-animation: spinner 600ms linear infinite;
  height: 20px;
  width: 20px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid transparent;
  transform-origin: center;
  border-top-color: #fff;
}

.robin-zoomIn {
  animation: zoom-in 300ms ease-in-out forwards;
  -webkit-animation: zoom-in 300ms ease-in-out forwards;
}

.robin-zoomOut {
  animation: zoom-out 300ms ease-in-out forwards;
  -webkit-animation: zoom-out 300ms ease-in-out forwards;
}

.robin-squeezeIn {
  animation: squeeze-in 100ms ease-in-out forwards;
  -webkit-animation: squeeze-in 100ms ease-in-out forwards;
}

.robin-squeezeOut {
  animation: squeeze-out 100ms ease-in-out forwards;
  -webkit-animation: squeeze-out 100ms ease-in-out forwards;
}

.robin-fadeIn-enter-active {
  animation: fade-in 300ms;
  -webkit-animation: fade-in 300ms;
}

.robin-fadeIn {
  animation: fade-in 100ms ease-in-out forwards;
  -webkit-animation: fade-in 100ms ease-in-out forwards;
}

.robin-fadeOut {
  animation: fade-out 100ms ease-in-out forwards;
  -webkit-animation: fade-out 100ms ease-in-out forwards;
}

.robin-pulse-1 {
  animation: pulse1 1s infinite;
  -webkit-animation: pulse1 1s infinite;
}

.robin-pulse-2 {
  animation: pulse2 100ms ease-in-out;
  -webkit-animation: pulse2 100ms ease-in-out;
}

.robin-slideInLeft {
  animation: slide-in-left 200ms ease-in forwards;
  -webkit-animation: slide-in-left 200ms ease-in forwards;
}

.robin-slideOutLeft {
  animation: slide-out-left 200ms ease-in forwards;
  -webkit-animation: slide-out-left 200ms ease-in forwards;
}

.robin-slideInRight {
  animation: slide-in-right 150ms ease-in-out forwards;
  -webkit-animation: slide-in-right 150ms ease-in-out forwards;
}

.robin-slideOutRight {
  animation: slide-out-right 150ms ease-in forwards;
  -webkit-animation: slide-out-right 150ms ease-in forwards;
}

.robin-slideIn {
  animation: slide-in 100ms ease-in forwards;
  -webkit-animation: slide-in 100ms ease-in forwards;
}
