.robin-message-bubble-inner {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  flex-direction: column;
  padding: 0.813rem 0.625rem 0.813rem 0.75rem;
  border-radius: inherit;
  position: relative;
}

.message-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem 0.5rem;
}

.robin-message-blocked {
  opacity: 0.8;
}

@media (max-width: 480px) {
  .robin-message-bubble-inner {
    max-width: 220px;
  }
}

@media (min-width: 1025px) {
  .robin-message-bubble-inner:hover {
    background-color: var(--rb-color11);
  }
}
